<!-- <body>
    <form action="login.php" method="POST">
        <label>UserID</label> <input type="text" name="uid" /><label>Password</label>
        <input type="text" name="password" /><br />
        <label>Login as :</label>
        <label for="doctors">Doctor</label>
        <input type="radio" name="utype" id="doctors" value="doctors" checked>
        <label for="patients">Patient</label>
        <input type="radio" name="utype" id="patients" value="patients"><br />
        <input type="submit" value="LOGIN">
    </form>
    No account?
    <form action="signup.html">
        <input type="submit" value="Signup as a Doctor" />
    </form>
    <form action="signup1.html">
        <input type="submit" value="Signup as a Patient" />
    </form>
</body> -->
<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/privatekey.css">

</head>

<body style="background-image: url('images/bg.jpg')";>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
           function myFunction() {

                /* Get the text field */
                var copyText = document.getElementById("privateKey").innerText;

//////894cd9aa0ade905093f1a19d8344fa085288c8b30a6248dfecca7bcff84eb0e5
                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/

               /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                window.alert("Copied the text: " + copyText.value);
            }
    </script>
    <div class="key">
        <p>This is your wallet address. Store it secrate palce to use it further for retrive yor data from blockchian</p>
        <p id="privateKey">
<%= privateKey %>
        </p>
        <button class="btn bg-primary" onclick="myFunction()">Copy text</button>
        <form action="/login">
            <input type="submit" value="OK" />
        </form>
    </div>
</body>

</html>
