body {
    height: 100%;
    width: 100%;
    background-image: url("image/240_F_181340606_IzG97v3ZAav8wS3dv3mjvWTxtzTmLQ2T.jpg");
    background-size: cover;
}

.inner-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 147, 173, .5);
    overflow: auto;
}

.form-data {
    margin-top: 15%;
    background-color: #fff;
}

.form-body {
    padding: 20px;
}

.form-head {
    padding: 20px;
    border-bottom: 1px solid#ccc;
}

.form-head h2 {
    font-size: 22px;
    font-weight: 600;
}

.form-row {
    margin-bottom: 15px;
}

.form-control {
    background-color: #f7f7ff;
}

.form-control:hover {
    box-shadow: none;
    border: 3px solid#138496;
}

.btn-appointment {
    background-color: #138496;
    border-color: #138496;
    width: 100%;
}

.content {
    margin-top: 15%;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.content h1 {
    font-weight: 600;
    font-size: 3.5rem;
}

.content p {
    font-size: 22px;
    color: black;
}

.no-margin {
    margin: 0px;
}

@media screen and (max-width: 976px) {}